SQUARE_ENVIRONMENT=sandbox
SQUARE_APPLICATION_ID=
SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
PAYPAL_CLIENT_ID=AU4SZhu8Ebj_m5tHLA96serhnMgdVtcbHrSAjDk_KrSUAqQKJ8dp6NezTGM1pGUVAbWhtAgjWCIg7fWA
PAYPAL_CLIENT_SECRET=
